{{- if eq .Params.meta true -}}
{{ $username := index (.Params.authors) 0 }}
{{ $authorPage := printf "/authors/%s" $username }}
<div class="post-meta">
    {{ with .GetPage $authorPage }}
    <div class="author">
        <a href="{{ .Permalink }}">
            <i class="fa-regular fa-user"></i>{{ .Params.name }}
        </a>
    </div>
    {{ end }}
    <div class="date">
        <span class="reading-time">
            <i class="fa-regular fa-clock" aria-hidden="true"></i>{{ i18n "reading_time" .ReadingTime }}
        </span>
        <span class="posted-on">
            <i class="fa-regular fa-calendar" aria-hidden="true"></i>
            <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </time>
        </span>
    </div>
    {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
    {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
    {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
</div>
{{- end -}}