{{ with .Params.socials }}
<div class="author-socials socials float-clear">
    <div class="list">
    <ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
        <li class="ms-1">
            <a title="{{ .name }}" href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
        </li>
       {{ else }}
        <li class="ms-1">
            <a title="{{ .name }}" href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .username }}</a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
    </div>
</div>
{{ end }}