.wrapper p {
    white-space: unset !important;
    hyphens: unset !important;
}

.wrapper a {
    text-decoration: none;
}

.wrapper .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.wrapper .navigation a {
    font-weight: 500;
}

body.colorscheme-light .wrapper a {
    color: #212121;
}

body.colorscheme-light .wrapper a:hover, body.colorscheme-light .wrapper a:focus {
    color: #1565c0;
}

body.colorscheme-dark .wrapper a {
    color: #dadada;
}

body.colorscheme-dark .wrapper a:hover, body.colorscheme-light .wrapper a:focus {
    color: #1565c0;
}

.navigation .navigation-title {
    font-size: 3rem;
    text-transform: none;
}

.navigation #dark-mode-toggle {
    margin: 0 1rem;
    font-size: inherit;
    bottom: auto;
    left: auto;
    z-index: auto;
    position: absolute;
}

.list .compact, .list .detailed {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}

body.colorscheme-light .list .compact, body.colorscheme-light .list .detailed {
    border: 1px solid #efecec;
}

body.colorscheme-dark .list .compact, body.colorscheme-dark .list .detailed {
    border: 1px solid #2b2a2a;
}

.list ul li h1, .list ul li h2, .list ul li h3, .list ul li h4, .list ul li h5, .list ul li h6 {
    font-weight: 500;
    margin: 2rem 0 2.5rem 0;
}

.list .compact .title {
    margin: 0;
}

.list .compact .post-title {
    float: left;
    margin: 0;
}

.list .compact .post-meta {
    float: right;
}

.list .meta a {
    font-weight: 500;
    font-size: 1.5rem;
}

.list .post-description {
    font-size: 1.4rem;
}

.list ul li .meta {
    margin: 0 3rem 0 0;
}

.list ul li .category {
    float: left;
}

.list ul li .author {
    float: right;
}

.list ul li .date {
    float: right;
    text-align: unset;
    flex: none;
    display: unset;
    width: unset;
    margin: 0;
}

.wrapper .content header {
    margin-bottom: 7rem;
}

.wrapper .content .post .post-meta {
    font-size: 1.5rem;
}

.wrapper .content .post .post-meta .date span {
    margin-right: 1.75rem;
}

.wrapper .content .post .post-meta .separator {
    margin: 0 0.5rem;
}

.wrapper .content .post .post-meta .tags .tag {
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.wrapper .content .post .post-meta .tags .tag a:hover, .wrapper .content .post .post-meta .tags .tag a:focus {
    color: #1565c0;
}

.wrapper .socials .list ul li {
    font-size: 1.4rem;
}

.author .socials .fa-brands {
    margin: 0 0.7rem;
}

.author .author-avatar img {
    border-radius: 100%;
}

.author .author-content {
    display: flex;
}

.author .author-bio {
    float: left;
    padding-right: 10rem;
}

.author .author-details {
    float: right;
    width: 40%;
}

body.colorscheme-light footer.footer {
    font-size: 1.4rem;
    color: #555555;
}

body.colorscheme-dark footer.footer {
    font-size: 1.4rem;
    color: #777777;
}
