{{ $username := index (.Params.authors) 0 }}
{{ $authorPage := printf "/authors/%s" $username }}
{{ $category := index (.Params.categories) 0 }}
{{ $categoryPage := printf "/categories/%s" $category }}
<li>
  <div class="post detailed featured">
    {{ if .Params.image }}
    <div class="post-image">
      <a href="{{ .Params.externalLink | default .RelPermalink }}">
        <img src="{{ .Params.image | relURL }}" alt="Featured Image"/>
      </a>
    </div>
    {{ end }}
    <div class="post-title">
      <h3 class="title">
        <a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      </h3>
    </div>
    <div class="post-description">
      <p>{{ .Description }}</p>
    </div>
    <div class="post-meta">
      {{ with .GetPage $categoryPage }}
      <div class="meta category">
        <a href="{{ .Permalink }}">
          <i class="fa-regular fa-folder"></i>{{ $category }}
        </a>
      </div>
      {{ end }}
      <div class="meta date">
        <i class="fa-regular fa-calendar"></i>{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
      </div>
      {{ with .GetPage $authorPage }}
      <div class="meta author">
        <a href="{{ .Permalink }}">
          <i class="fa-regular fa-user"></i>{{ .Params.name }}
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</li>
