<section class="container">
    <header>
        <h2 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
                {{- i18n (lower .Title) | default .Title | title -}}
            </a>
        </h2>
    </header>
    {{ .Content }}
    <div class="list">
        <ul>
            {{ range .Paginator.Pages }}
            <li>
                <div class="compact spaced w-100 p-2 mb-2">
                    <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
                    <span class="meta date unset-all fs-s dimmed-text m-0 float-end">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ partial "pagination.html" . }}
</section>
